**This notebook is an exercise in the [Advanced SQL](https://www.kaggle.com/learn/advanced-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/analytic-functions).**

---

# Introduction

Here, you'll use window functions to answer questions about the [Chicago Taxi Trips](https://www.kaggle.com/chicago/chicago-taxi-trips-bq) dataset.

Before you get started, run the code cell below to set everything up.

In [1]:
# Get most recent checking code
!pip install -U -t /kaggle/working/ git+https://github.com/Kaggle/learntools.git
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql_advanced.ex2 import *
print("Setup Complete")

Collecting git+https://github.com/Kaggle/learntools.git
  Cloning https://github.com/Kaggle/learntools.git to /tmp/pip-req-build-_r8eaya2
  Running command git clone --filter=blob:none --quiet https://github.com/Kaggle/learntools.git /tmp/pip-req-build-_r8eaya2
  Resolved https://github.com/Kaggle/learntools.git to commit 183cdad0530e7c898cd4658a63b579c54e91f056
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: learntools
  Building wheel for learntools (setup.py) ... done
  Created wheel for learntools: filename=learntools-0.3.4-py3-none-any.whl size=268968 sha256=4b1f11a3839f94deeeb9e50692e5d799fb63d4244e87c5ade1518c39a4896788
  Stored in directory: /tmp/pip-ephem-wheel-cache-ynrjzjfd/wheels/2f/6c/3c/aa9f50cfb5a862157cb4c7a5b34881828cf45404698255dced
Successfully built learntools
Installing collected packages: learntools
Successfully installed learntools-0.3.4
Using Kaggle's public dataset BigQuery integration.
Setup Complete

The following code cell fetches the `taxi_trips` table from the `chicago_taxi_trips` dataset. We also preview the first five rows of the table.  You'll use the table to answer the questions below.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "taxi_trips" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,89dbb2fc5b8dad6e95f3da319010d3995b9aed3a,4efb4a59d8c600a9d2a8d14362769bed234568a573dc5f...,2014-12-01 18:30:00+00:00,2014-12-01 18:30:00+00:00,420,0.8,NaN,NaN,NaN,NaN,...,1.0,6.65,Cash,None,NaN,NaN,None,NaN,NaN,None
1,33d91796f8cc1c00b68addf4b95b5c0dc01c95d0,ac3197af61ac119894f5d339834595e2d1e28f8d6609e7...,2014-11-28 06:30:00+00:00,2014-11-28 06:45:00+00:00,540,2.2,NaN,NaN,NaN,NaN,...,0.0,8.25,Cash,None,NaN,NaN,None,NaN,NaN,None
2,9759ecc279a90f20e346d0eab065a8275d28b2e0,ac3197af61ac119894f5d339834595e2d1e28f8d6609e7...,2014-11-28 08:15:00+00:00,2014-11-28 08:15:00+00:00,180,0.5,NaN,NaN,NaN,NaN,...,0.0,4.45,Cash,None,NaN,NaN,None,NaN,NaN,None
3,a3059e04c539b9f333116268ee80bc8790e31b16,ac3197af61ac119894f5d339834595e2d1e28f8d6609e7...,2014-11-28 05:30:00+00:00,2014-11-28 05:30:00+00:00,180,0.6,NaN,NaN,NaN,NaN,...,0.0,6.84,Credit Card,None,NaN,NaN,None,NaN,NaN,None
4,e9fbfd63f479544264ab62ffee1663644f089c4f,ac3197af61ac119894f5d339834595e2d1e28f8d6609e7...,2014-11-28 06:15:00+00:00,2014-11-28 06:15:00+00:00,480,2.5,NaN,NaN,NaN,NaN,...,0.0,8.25,Cash,None,NaN,NaN,None,NaN,NaN,None

# Exercises

### 1) How can you predict the demand for taxis?

Say you work for a taxi company, and you're interested in predicting the demand for taxis.  Towards this goal, you'd like to create a plot that shows a rolling average of the daily number of taxi trips.  Amend the (partial) query below to return a DataFrame with two columns:
- `trip_date` - contains one entry for each date from January 1, 2016, to March 31, 2016.
- `avg_num_trips` - shows the average number of daily trips, calculated over a window including the value for the current date, along with the values for the preceding 3 days and the following 3 days, as long as the days fit within the three-month time frame.  For instance, when calculating the value in this column for January 3, 2016, the window will include the number of trips for the preceding 2 days, the current date, and the following 3 days.

This query is partially completed for you, and you need only write the part that calculates the `avg_num_trips` column.  Note that this query uses a common table expression (CTE); if you need to review how to use CTEs, you're encouraged to check out [this tutorial](https://www.kaggle.com/dansbecker/as-with) in the [Intro to SQL](https://www.kaggle.com/learn/intro-to-sql) course.

In [8]:
# Fill in the blank below
avg_num_trips_query = """
                      WITH trips_by_day AS
                      (
                      SELECT DATE(trip_start_timestamp) AS trip_date,
                          COUNT(*) as num_trips
                      FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                      WHERE trip_start_timestamp > '2016-01-01' AND trip_start_timestamp < '2016-04-01'
                      GROUP BY trip_date
                      ORDER BY trip_date
                      )
                      SELECT trip_date,
                          AVG(num_trips)
                          OVER (
                               ORDER BY trip_date
                               ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
                               ) AS avg_num_trips
                      FROM trips_by_day
                      """

# Check your answer
q_1.check()

    trip_date  avg_num_trips
0  2016-02-07   23288.857143
1  2016-01-20   23231.571429
2  2016-03-08   25567.285714
3  2016-01-06   21314.428571
4  2016-01-23   23054.000000

Correct

In [7]:
# Lines below will give you a hint or solution code
q_1.hint()
q_1.solution()

Hint: Use the **AVG()** function. Write an **OVER** clause with that orders the rows with the `trip_date` column and uses a window that includes the 3 preceding rows, the current row, and the following 3 rows.

Solution:
```python

avg_num_trips_query = """
                      WITH trips_by_day AS
                      (
                      SELECT DATE(trip_start_timestamp) AS trip_date,
                          COUNT(*) as num_trips
                      FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                      WHERE trip_start_timestamp > '2016-01-01' AND trip_start_timestamp < '2016-04-01'
                      GROUP BY trip_date
                      )
                      SELECT trip_date,
                          AVG(num_trips)
                          OVER (
                               ORDER BY trip_date
                               ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
                               ) AS avg_num_trips
                      FROM trips_by_day
                      """

```

### 2) Can you separate and order trips by community area?

The query below returns a DataFrame with three columns from the table: `pickup_community_area`, `trip_start_timestamp`, and `trip_end_timestamp`.  

Amend the query to return an additional column called `trip_number` which shows the order in which the trips were taken from their respective community areas.  So, the first trip of the day originating from community area 1 should receive a value of 1; the second trip of the day from the same area should receive a value of 2.  Likewise, the first trip of the day from community area 2 should receive a value of 1, and so on.

Note that there are many numbering functions that can be used to solve this problem (depending on how you want to deal with trips that started at the same time from the same community area); to answer this question, please use the **RANK()** function.

In [21]:
# Amend the query below
trip_number_query = """
                    SELECT pickup_community_area,
                        trip_start_timestamp,
                        trip_end_timestamp,
                        RANK() OVER(
                            PARTITION BY pickup_community_area
                            ORDER BY trip_start_timestamp
                        ) AS trip_number
                    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                    WHERE DATE(trip_start_timestamp) = '2013-10-03'
                    """

# Check your answer
q_2.check()

,pickup_community_area,trip_start_timestamp,trip_end_timestamp,trip_number
0,14.0,2013-10-03 00:15:00+00:00,2013-10-03 00:30:00+00:00,1
1,14.0,2013-10-03 02:00:00+00:00,2013-10-03 02:00:00+00:00,2
2,14.0,2013-10-03 03:15:00+00:00,2013-10-03 03:15:00+00:00,3
3,14.0,2013-10-03 03:15:00+00:00,2013-10-03 03:15:00+00:00,3
4,14.0,2013-10-03 03:15:00+00:00,2013-10-03 03:15:00+00:00,3

Correct

In [13]:
# Lines below will give you a hint or solution code
q_2.hint()
#q_2.solution()

Hint: You don't need a **GROUP BY** clause.  Use the **RANK()** function.  Your **OVER** clause should order the rows by the `trip_start_timestamp` column and break the data into partitions based on `pickup_community_area`.

### 3) How much time elapses between trips?

The (partial) query in the code cell below shows, for each trip in the selected time frame, the corresponding `taxi_id`, `trip_start_timestamp`, and `trip_end_timestamp`. 

Your task in this exercise is to edit the query to include an additional `prev_break` column that shows the length of the break (in minutes) that the driver had before each trip started (this corresponds to the time between `trip_start_timestamp` of the current trip and `trip_end_timestamp` of the previous trip).  Partition the calculation by `taxi_id`, and order the results within each partition by `trip_start_timestamp`.

Some sample results are shown below, where all rows correspond to the same driver (or `taxi_id`).  Take the time now to make sure that the values in the `prev_break` column make sense to you!

![first_commands](https://storage.googleapis.com/kaggle-media/learn/images/qjvQzg8.png)

Note that the first trip of the day for each driver should have a value of **NaN** (not a number) in the `prev_break` column.

In [22]:
# Fill in the blanks below
break_time_query = """
                   SELECT taxi_id,
                       trip_start_timestamp,
                       trip_end_timestamp,
                       TIMESTAMP_DIFF(
                           trip_start_timestamp, 
                           LAG(trip_end_timestamp)
                               OVER (
                                    PARTITION BY taxi_id 
                                    ORDER BY trip_start_timestamp),
                           MINUTE) as prev_break
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE DATE(trip_start_timestamp) = '2013-10-03' 
                   """

# Check your answer
q_3.check()

,taxi_id,trip_start_timestamp,trip_end_timestamp,prev_break
0,0150188f8c8e8973a198d4af0b427fca8ff48df2662d6b...,2013-10-03 07:00:00+00:00,2013-10-03 07:30:00+00:00,390.0
1,0150188f8c8e8973a198d4af0b427fca8ff48df2662d6b...,2013-10-03 14:15:00+00:00,2013-10-03 14:30:00+00:00,135.0
2,0150188f8c8e8973a198d4af0b427fca8ff48df2662d6b...,2013-10-03 18:00:00+00:00,2013-10-03 18:15:00+00:00,135.0
3,34ed8ae3af562da8ab7ee7aa07c83287baf647219d79cf...,2013-10-03 10:30:00+00:00,2013-10-03 10:30:00+00:00,615.0
4,34ed8ae3af562da8ab7ee7aa07c83287baf647219d79cf...,2013-10-03 16:45:00+00:00,2013-10-03 16:45:00+00:00,120.0

Correct

In [ ]:
# Lines below will give you a hint or solution code
#q_3.hint()
#q_3.solution()

# Keep going

Move on to learn how to query **[nested and repeated data](https://www.kaggle.com/alexisbcook/nested-and-repeated-data)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/advanced-sql/discussion) to chat with other learners.*